Source: wiringrp
Section: utils
Priority: extra
Maintainer: Hongyang Zhao <hongyang.zhao@thundersoft.com>
Homepage: https://github.com/rubikpi-ai/WiringRP
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2

Package: wiringrp
Architecture: arm64
Depends: libc6-dev, ${misc:Depends}
Description: GPIO development libraries for RUBIK Pi
 Development libraries to allow GPIO access on a RUBIK Pi from C
 and C++ programs.
